/*---------- SITE THEME (Can be changed) ----------*/
/*
Primary blue (banner, selections, text highlight): #4285f4
Secondary blue closer to teal (buttons, ): #007ce8
Light grey (hover on elements): #f7f7f7
Dark grey (home text, ); #262626

/*---------- Html Elements ----------*/
img{
    max-height: 300px;
    width: auto;
}

a.noUnderline{
    text-decoration: none;
}

.btn-group { display: inline-block; }


/* ---------- Basic Classes / Small Styling ---------*/

.center{
    text-align: center;
}
.gapTop{
    margin-top: 25px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.regFontSize{
    font-size: 20px;
}

.lpad{
    padding-bottom: 10px;
}
.tpad{
    padding-top: 10px;
}

.stdMediaSize{
    width: 50%;
    margin: auto;
    display: block;
}
.primaryBlue{
    background-color: #4285f4;
}

.secondaryBlue{
    background-color: #007ce8;
}

.whiteText{
    color: white;

}
mark{
    color: #4285f4;
    background-color: white;
    font-style: bold;
}

/* ---------- Div ID Styling ----------*/

#homeRow{
    height: 100px;
    font-size: 40px;
}
#fencingText{
    font-size: 70px;
    color: #4285f4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

#homeText{
    font-size: 30px;
    color: #363636;
    text-align: center;
    margin-bottom: 40px;
}

#scoreResult{
    font-size: 45px;
    text-align: center;
}

#scoreMessage{
    font-size: 40px;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

#homeInstructions{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

#answerCheck{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

/*---------- Div Class Styling ----------*/
.navbar-custom{
    background-color: #4285f4;
}

.navbar-custom .navbar-brand{
    color: white;
}
.navbar-custom .nav-link {
    color: white;
}

.disabled {
    color: red;
    cursor: not-allowed;  
}
.disabled a {
    pointer-events: none; 
}

.homePageBox{
    background-color: white;
    padding: 10px;
}

.homePageBox:hover{
    background-color: #f7f7f7;
    padding: 10px;
}

.homePageLink{
    margin-top: 5px;
    font-size: 30px;
    color:#262626;
}



.homePageImgHolder{
    height: 200px;
}

.titleRow{
    height: 100px;
    font-size: 40px;
    text-align: center;
}

.homePage{
    width: 100%;
}

.breakdownHeader{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.breakdownRow{
    margin-top: 30px;
    margin-bottom: 30px;
}

#options{
    background-color: #d3d3d3;
    visibility: hidden;
    width: 500px;
    padding: 100px;
    position: fixed;
    margin: 100px auto;
    margin-top: 15%;
    border: 2px solid black;
    text-align: center;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1000;    
}

/* ---------- Span Styling ----------*/


