{% extends "base.html" %}

{% block content %}
    <div class = "row" id="homerow">
        <div class = "col-md-12">Score Breakdown</div>
    </div>

    <div class = "row">
        <div class = "col-md-4">
            <a href = "{{url_for('learn', id = 1)}}">
                <div class = "homepageImgHolder"> 
                    <img class = "homepage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonFencers.png')}}">
                </div>
                <div class = "center">
                    Basics
                </div>
            </a>
            <div class = "breakdownScore">
                2/2
            </div>
        </div>
        <div class = "col-md-4">
            <a href = "{{url_for('learn', id = 9)}}">
                <div class = "homepageImgHolder"> 
                    <img class = "homepage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonBlocking.png')}}">
                </div>
                <div class = "center">
                    Moves
                </div>
            </a>
            <div class = "breakdownScore">
                2/3
            </div>
        </div>
        <div class = "col-md-4">
            <a href = "{{url_for('learn', id = 14)}}">
                <div class = "homepageImgHolder"> 
                    <img class = "homepage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/tiedFencers.jpeg')}}">
                </div>
                <div class = "center">
                    Priority
                </div>
            </a>
            <div class = "breakdownScore">
                5/11
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12 center gaptop">
            <a href="{{ url_for('home')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Return Home</a>
        </div>
    </div>


{% endblock %}
