{% extends "base.html" %}

{% block content %}

<script>
    var score = {{ score | tojson }}
    
    $(".test-button").click(function (e) { 
        let goTo = "/test/" + "1"
        window.location = (goTo)    
    });    
</script>

<body class="stdFont darkGray">
    
    <div class = "row" id="homerow">
        <div class = "col-md-12 breakdownHeader">Score Breakdown</div>
    </div>

    <div class = "row breakdownRow">
        
        <div class = "col-md-4 stdMediaSize">
            <a class = "noUnderline" href = "{{url_for('learn', id = 1)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonFencers.png')}}">
                    </div>
                    <div class = "center homePageLink">
                        Basics: {{score.basics}}/2
                    </div>
                </div> 
            </a>
        </div>
        <div class = "col-md-4 stdMediaSize">
            <a class = "noUnderline" href = "{{url_for('learn', id = 9)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonBlocking.png')}}">
                    </div>
                    <div class = "center homePageLink">
                        Moves: {{score.moves}}/3
                    </div>
                </div>
            </a>
        </div>
        <div class = "col-md-4 stdMediaSize">
            <a class = "noUnderline" href = "{{url_for('learn', id = 14)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/tiedFencers.jpeg')}}">
                    </div>
                    <div class = "center homePageLink">
                        Priority: {{score.priority}}/11
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12 center regFontSize darkGrey">
            Your best category was <mark>{{ maxCategory }}</mark>! Looks like you could use the most practice with <mark>{{ minCategory }}</mark>. Click on any category to practice it again.
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12 center gapTop">
            <a href="{{ url_for('home')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Return Home</a>
        </div>
    </div>
</body>


{% endblock %}
