{% extends "base.html" %}

{% block title %}
Fencing101 | Home
{% endblock %}


{% block content %}
<title>Base Page</title>
    <div class = "row">
        <div class = "col-md-12">
            <div id="fencingText">
                Fencing 101
            </div>
            <div id="homeText">
                How to Score in Sabre Fencing
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-4">
            <a class = "noUnderline" href = "{{url_for('learn', id = 1)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonFencers.png')}}">
                    </div>
                    <div class = "center homePageLink">
                        Basics
                    </div>
                </div> 
            </a>
        </div>
        <div class = "col-md-4">
            <a class = "noUnderline" href = "{{url_for('learn', id = 9)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/cartoonBlocking.png')}}">
                    </div>
                    <div class = "center homePageLink">
                        Moves
                    </div>
                </div>
            </a>
        </div>
        <div class = "col-md-4">
            <a class = "noUnderline" href = "{{url_for('learn', id = 14)}}">
                <div class = "homePageBox">
                    <div class = "homePageImgHolder">
                        <img class = "homePage" alttext = "Two Fencers Facing Off" id = "topbanner" src = "{{url_for('static', filename='images/tiedFencers.jpeg')}}">
                    </div>
                    <div class = "center homePageLink">
                        Priority
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12" id = "homeInstructions">
            Select  a category to begin learning. When you have completed every category, click 
            <small>
                <span class="btn-group">
                    <a href = "{{url_for('test', id = 1)}}">
                        <button class="btn btn-mini primaryBlue whiteText">Test</button>
                    </a>
                </span> 
        </small> 
        to quiz your skills!
        </div>
    </div>


{% endblock %}