{% extends "base.html" %}

{% block title %}
Fencing101 | Test
{% endblock %}

{% block content %}
<script> 
    var question = {{ question | tojson }} 
    var score = {{ score | tojson }} 
</script>

<script src = "{{url_for('static', filename = 'test.js')}}"></script>

<body class="stdFont">
    
    <div class = "row titlerow">
        <div class = "col-md-12 center questionNumber">
           Question {{ question.question_number }}/16
        </div>
    </div>

    <!-- Question content (actual question) -->
    <div class = "row lpad">
        <div class = "col-md-12">
            <pre class="regFontSize center darkGray stdFont">{{ question.question }}</pre>
        </div>
    </div>


    <!-- Question media or text (One or the other)-->
    <div class = "row lpad">
        <div class = "col-md-12">
            {% if question.question_type == "media" %}
                <img src = "{{ question.media }}" class="stdMediaSize">
            {% else %}
                <pre class="regFontSize darkGray stdFont">{{ question.text }}</pre>
            {% endif %}
        </div>
    </div>

    <!-- Place holder divs for dynamically created buttons -->
    <div class = "row">
        <div class = "col-md-4 center" id = "option1">
            
        </div>
        <div class = "col-md-4 center" id = "option2">
            
        </div>
        <div class = "col-md-4 center" id = "option3">
            
        </div>
    </div>


    <!-- Empty space for dynamically added answer result -->
    <div class = "row">
        <div class = "col-md-12" id = "answerCheck"></div>
    </div>


    <!-- Empty space for dynamically added next button -->
    <div class = "row">
        <div class = "col-md-12" id = "nextButton"></div>
    </div>
</body>
{% endblock %}
