{% extends "base.html" %}

{% block title %}
Fencing101 | Test
{% endblock %}

{% block content %}
<script> 
    var question = {{ question | tojson }} 
    var score = {{ score | tojson }} 
</script>

<script src = "{{url_for('static', filename = 'test.js')}}"></script>

<div class = "row titlerow">
    <div class = "col-md-12">
       Question Number: {{ question.question_number }}/16
    </div>
</div>

<!-- Question media or text (One or the other)-->
<div class = "row">
    <div class = "col-md-12">
        {% if question.question_type == "media" %}
            <img src = "{{ question.media }}">
        {% else %}
            <pre>{{ question.text }}</pre>
        {% endif %}
    </div>
</div>

<!-- Question content (actual question) -->
<div class = "row">
    <div class = "col-md-12">
        <pre>{{ question.question }}</pre>
    </div>
</div>


<!-- Place holder divs for dynamically created buttons -->
<div class = "row">
    <div class = "col-md-4" id = "option1">
        
    </div>
    <div class = "col-md-4" id = "option2">
        
    </div>
    <div class = "col-md-4" id = "option3">
        
    </div>
</div>


<!-- Empty space for dynamically added answer result -->
<div class = "row">
    <div class = "col-md-12" id = "answerCheck"></div>
</div>


<!-- Empty space for dynamically added next button -->
<div class = "row">
    <div class = "col-md-12" id = "nextButton"></div>
</div>
{% endblock %}
